<!-- TOP SECTION-->
<section class="headertop needhead" id="header-section">

 <!-- ################-->
 <!-- START TOP MENU -->
 <!-- ################-->
  <nav class="nav-top">
    <div class="navbar navbar-static-top" id="topnavbar"> 
      <!-- navbar-fixed-top -->
      <div class="navbar-inner" id="navbartop">
        <div class="container">
          <% if current_page?(root_path) %>
            <span id="nav0">
              <%= link_to "tapeando", "#header-section", :class =>"brand" %>
            </span> 
          <% else %>
            <span>
              <%= link_to "tapeando", root_path, :class =>"brand" %>
            </span>
          <% end %>
          
          
          <div id="main-nav" class="scroller-spy">
            <nav class="nav-collapse collapse" >
              <ul class="nav" id="nav">
                <li class="active"><a href="#header-section">Inicio</a> </li>
                <li><%= link_to "Ciudades", "#features-section" %> </li>    
                <li><a href="#team-section">Nosotros</a> </li>
                <!--<li><a href="#portfolio-section">Works</a> </li>
                <li><a href="#price-section">Price</a> </li>-->
                <li><a href="#contact-section">Contacto</a> </li>
              </ul>
            </nav>
      
      
          </div>
        </div>
      </div>
    </div>
  
  <!-- ################-->
  <!-- END TOP MENU -->
  <!-- ################-->   
  </nav>
  <!-- END HEADER headertop NAV -->

      
<!-- HEADER MARKETING SLOGAN-->
<header class="container">
  <div class="row-fluid">
    <div class="wrap-hero">
      <div class="hero-unit text-center">
        
        <!--BUSCADOR-->
        <div class="logo">
          <div class="wrap-searching">
            <div class="encuentra-bar"><h3>¡Encuentra tu bar!</h3></div>
            <%= form_tag do %>
              <%= text_field_tag :name_bar,nil, :class=>"span3 home-input", :placeholder=>"Nombre del bar...", ("data-provide")=>"typeahead" %>
              <%= text_field_tag :city_bar,nil, :class=>"span3 home-input", :placeholder=>"Ciudad o CP ...", ("data-provide")=>"typeahead", ("data-source")=>'["hola","couper", "angela"]' %>
              <%= submit_tag "Buscar", :class=>"btn btn-warning btn-large" %>
            <% end %>
          </div>
        </div>
        <!--/ BUSCADOR -->
        
        <!-- ADVERTISEMENT -->
        <div class="inner-wrap-hero">
          <h1 class="text-center main-color"> 
            <span>tapeando</span>
            <span class="visible-desktop">¡ADIÓS A LAS SORPRESAS AL PAGAR!<br>PODRÁS VER LA CARTA Y ELEGIR QUE BAR/RESTAURENTE SE ADAPTA A TU BOLSILLO</span>  
          </h1>  
        </div>
        
        <span class="gobottom" id="nav2">
          <a href="#features-section" title="">
            <i class="fa-icon-chevron-down fa-icon-large"></i>
          </a>
        </span>
        <!-- ADVERTISEMENT -->
        
      
      </div>  
    </div><!-- / HERO UNIT-->
  </div><!-- / HERO WRAP-->
</header><!-- / HEADER MARKETING SLOGAN container-->
      
</section><!--/ TOP SECTION-->